recursive-include gptqmodel_ext/gptq_pro *.h *.hpp *.cuh *.cu *.cpp
include gptqmodel_ext/pack_block_cpu.cpp
include gptqmodel_ext/floatx_cpu.cpp
include licenses/*
recursive-exclude gptqmodel_ext __pycache__ *.pyc
prune tests/
prune format/
